body {
  background-color: black;
}
div {
  width: 250px;
  height: 250px;
  background-color: thistle;
  margin-bottom: 4px;
  border-radius: 4px;
}
.special {
  background-color: pink;
}
aside {
  position: fixed;
  top: 20px;
  right: 20px;
}
